<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Smoke Test" parallel="tests" thread-count="2">
    <parameter name="browser" value="chrome"/>
    <test name="Login Chrome">
        <groups>
        <run>
            <include name="Positive"/>
            <include name="Negative"/>
        </run>
        </groups>
        <classes>
            <class name="placelab.tests.LoginTest">
            </class>
        </classes>
    </test>
    <test name="Login Opera">
        <parameter name="browser" value="opera"/>
        <groups>
            <run>
                <include name="Positive"/>
                <include name="Negative"/>
            </run>
        </groups>
        <classes>
            <class name="placelab.tests.LoginTest">
            </class>
        </classes>
    </test>
</suite>